# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/

*.iml

# models
core/.mvn/
core/target/
core/core.iml

core-web/.mvn/
core-web/target/
core-web/core-web.iml

data-jdbc/.mvn/
data-jdbc/target/
data-jdbc/data-jdbc.iml

data-jpa/.mvn/
data-jpa/target/
data-jpa/data-jpa.iml

data-redis/.mvn/
data-redis/target/
data-redis/data-redis.iml

mail/.mvn/
mail/target/
mail/mail.iml

mybatis/.mvn/
mybatis/target/
mybatis/mybatis.iml

quartz/.mvn/
quartz/target/
quartz/quartz.iml

thymeleaf/.mvn/
thymeleaf/target/
thymeleaf/thymeleaf.iml

web/.mvn/
web/target/
web/web.iml