<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 动态查询 -->
<mapper namespace="top.jionjion.mapper.StudentDynamicQueryMapper">
    <!-- Bean映射规则,当Bean属性与数据库表字段类型不同时,需要指定 -->
    <resultMap id="StudentResultMap" type="top.jionjion.bean.Student">
        <id property="id" javaType="java.lang.Integer" column="ID" jdbcType="INTEGER"/>
        <result property="name" javaType="java.lang.String" column="NAME" jdbcType="VARCHAR"/>
        <result property="age" javaType="java.lang.Integer" column="AGE" jdbcType="INTEGER"/>
        <result property="address" javaType="java.lang.String" column="ADDRESS" jdbcType="VARCHAR"/>
        <result property="birthday" javaType="java.time.LocalDate" column="BIRTHDAY" jdbcType="DATE"/>
    </resultMap>

    <!-- if 查询 -->
    <select id="findStudentByIf" resultMap="StudentResultMap" parameterType="java.lang.Integer">
                SELECT
                    s.id,
                    s.name,
                    s.age,
                    s.address,
                    s.birthday
                FROM
                    student s
                WHERE
                    s.age > 0
        <if test="id != null">
                AND
                    s.id = #{id,jdbcType=INTEGER}
        </if>
    </select>

    <!-- choose, when, otherwise 查询 -->
    <select id="findStudentByExampleChoose" resultMap="StudentResultMap" parameterType="top.jionjion.bean.Student">
                SELECT
                    s.id,
                    s.name,
                    s.age,
                    s.address,
                    s.birthday
                FROM
                    student s
                WHERE
                    1 = 1
        <choose>
            <when test="student != null and student.name != null ">
                AND
                    s.name like concat('%', #{student.name}, '%')
            </when>
            <when test="student != null and student.age != null">
                AND
                    s.age >= #{student.age}
            </when>
            <otherwise>
                AND
                    s.id != 0
            </otherwise>
        </choose>
    </select>

    <!-- where 查询 -->
    <select id="findStudentByExampleWhere" resultMap="StudentResultMap" parameterType="top.jionjion.bean.Student">
                SELECT
                    s.id,
                    s.name,
                    s.age,
                    s.address,
                    s.birthday
                FROM
                    student s
        <where>
            <if test="student != null and student.name != null ">
                AND
                    s.name like concat('%', #{student.name}, '%')
            </if>
            <if test="student != null and student.age != null">
                AND
                    s.age >= #{student.age}
            </if>
        </where>
    </select>

    <!-- foreach 查询 -->
    <select id="findStudentByForeach" resultMap="StudentResultMap" parameterType="java.util.List">
                SELECT
                    s.id,
                    s.name,
                    s.age,
                    s.address,
                    s.birthday
                FROM
                    student s
                WHERE
                    s.id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                        #{item}
        </foreach>
    </select>

</mapper>